main {
    background-color: $white;
    color: #BBE1FA;
    float: right;
    width: $content-width-desktop;
    min-height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    left: $menu-size;
    top: 0;
    @include mobile {
        top: $mobile-menu-height;
        left: 0;
        width: 100%;
        height: calc(100% - #{$mobile-menu-height});
    }
    &.no-menu {
        width: 100%;
        left: 0;
        top: 0;
    }
}
main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 87.5%;
    height: 100%;
    z-index: -1;
    opacity: .2;
    background-image: url('/assets/img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 105.6%,100%;
    margin: 3.5em auto 0 0;
    width: 90%;
    padding: 0px 18px 24px;
}
footer {
    width: 100%;
    text-align: center;
    color:$p_text;
    display: flex;
    justify-content: center;
    font-size: 0.7em;
    p {
        margin: 0;
    }
}

.is-minimal-menu {
    main {
        width: $content-width-desktop-minimal-menu;
        left: $minimal-menu-size;
        @include mobile {
            top: $minimal-menu-size;
            left: 0;
            width: 100%;
            height: calc(100% - #{$minimal-menu-size});
        }
    }
}